<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MedicoUniverse | Bookings</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../public/css/booking.doctors.css">
  <link rel="stylesheet" href="../public/css/plus.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="/">Medico<span>Universe</span></a>
        <button class="navbar-toggler float-right p-1" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-resp" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/medicoUniverse/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/medicoUniverse/mission">Mission</a>
                </li>
            </ul>
            {{#if session.user}}
            <div class="dropdown">
                <a class="nav-link font-weight-bold login-signup w-100" id="dropdownMenu1-1" data-toggle="dropdown" href="">
                    Hello {{session.user.email}}
                </a>
                <div class="dropdown-menu dropdown-primary" id="your-custom-id">
                    <a class="dropdown-item mdb-dropdownLink-1  " href="/profile">Profile</a>
                    <a class="dropdown-item mdb-dropdownLink-1 " href="/logout">Logout</a>
                </div>
            </div>
            {{else}}
            <div>
                <a class="nav-link login-signup w-100" href="/user/signin">Hello Guest</a>
            </div>
            {{/if}}
        </div>
    </nav>
    <hr>

  <div class="jumbotron">
    <h1 id="pName"><strong>Medico<span>Universe</span></strong></h1>
    <h3 id="info"><strong>Book Your Appointments here</strong></h3>
    <form action="/appointment" method="POST" class="form-inline">
      <input class="form-control" list="places" name="city" placeholder="Select Cities" required>
      <datalist id="places">
        <option value="Shimla">Shimla</option>
        <option value="Kota">Kota</option>
        <option value="Agra">Agra</option>
        <option value="Chennai">Chennai</option>
        <option value="Belgavi">Belgavi</option>
      </datalist>
      </button>
      <input id="service" class="form-control" list="requirements" name="service"
        placeholder="Select Doctors,Therapists,Nurses and Babysitters" onchange="changeValue()" required>
      <datalist id="requirements">
        <option value="Doctors">Doctors</option>
        <option value="Nurses">Nurses</option>
        <option value="Babysitters">Babysitters</option>
        <option value="Therapists">Therapists</option>
      </datalist>
      </button>
      <input id="specialization" class="form-control" list="specs" name="specialization"
        placeholder="Select Specialization" required>
      <datalist id="specs">
      </datalist>
      </button>
      <button type="submit" id="findBtn"><strong>Find</strong></button>
    </form>
  </div>
  <section>
    <div class="col-6 offset-3 mt-4" style="padding: 60px; ">
      <div class="alert alert-success" role="alert" style="padding: 30px 60px 60px 60px;">
        <h4 class="alert-heading">Booking Successfull !!!</h4>
        <hr style="margin: 10px 0px 10px 0px;">
        <p>We have received your request. We will get back to you for confirmation of further details.
          You will receive a call from our customer service regarding that.
        </p>
         Team Medico Universe Thanks You for using our services
          <hr style="margin: 10px 0px 10px 0px;">
      Please visit <a href="/profile">Profile</a> page to see your appointments.
      </div>
     
    </div>
  </section>
  <footer>
        <div style="height: 20px;"></div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 ml-5">
                <h4>Contact Us</h4>
                <p>BHIVE Workspace, L-148, 5th Main Rd,
                    <br> Sector 6, HSR Layout,<br> Bengaluru, Karnataka 560102</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 ml-5">
                <h5>For patients</h5>
                <ul>
                    <li><a href="#">Search for Doctors</a></li>
                    <li><a href="#">Search for Hospitals</a></li>
                    <li><a href="#">Order Medicine</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-12 ml-5 mt-2 ">
                <style>
                    .fa {
                        text-align: center;
                    }

                    .fa:hover {
                        opacity: 0.7;
                        text-decoration: none;
                    }
                    .size{
                        font-size: 30px;
                        margin: 0 8px;
                        
                    }
                </style>
                <div class="mt-4">
                    <a href="#" class="fa fa-facebook size"></a>
                    <a href="#" class="fa fa-twitter size"></a>
                    <a href="#" class="fa fa-linkedin size"></a>
                    <a href="#" class="fa fa-instagram size"></a>
                    <a href="#" class="fa fa-youtube size"></a>
                </div>
                
            </div>
        </div>
        <div style="height: 20px;"></div>

    </footer>
  <a href="#" class="float ca" id="menu-share">
    <i class="fa fa-share my-float"></i>
  </a>
  <ul class="cul">
    <li class="cli"><a class="ca" href="/hospitalsearch">
        <i class="fas fa-clinic-medical my-float "></i>
      </a></li>
    <li class="cli"><a class="ca" href="/bookingDoctors">
        <i class="fas fa-user-md my-float"></i>
        <i class="fas fa-user-nurse my-float"></i>
      </a></li>
    <li class="cli"><a class="ca" href="/pharmacy">
        <i class="fas fa-prescription-bottle-alt my-float "></i>
      </a></li>
    <li class="cli"><a class="ca" href="/ambulance_booking">
        <i class="fas fa-ambulance my-float "></i>
      </a></li>
  </ul>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="../public/js/bookingDoctors.script.js"></script>
</body>

</html>