<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/signup_style.css">
    <link rel="stylesheet"  href="./css/plus.css">

</head>

<body style="background-color:honeydew">
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="/">Medico<span>Universe</span></a>
        {{#if user}}
        <div class="navbar-loggedin">
            <img src="{{user.image}}" onerror="this.src = './image/default_profile_pic.png'" width="36px" height="36px">
            <a href="/dashboard" class="ml-2">{{user.name}}</a>
        </div>
        {{else}}
        <button class="navbar-toggler float-right p-1" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-resp" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mission">Mission</a>
                </li>
            </ul>
            <a class="nav-link login-signup " href="/user/signin">Login</a>
        </div>
        {{/if}}
    </nav>
    <div class="row">
        {{#if invalidlength}}
        <div id="alert" class="alert alert-danger alert-dismissible fade show">
            Mobile Number has to be 10 digits long !!!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/if}}
        {{#if mismatch}}
        <div id="alert" class="alert alert-danger alert-dismissible fade show">
            <strong>Entered passwords doesn't match !!!</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/if}}
        {{#if invalidPasslength}}
        <div id="alert" class="alert alert-danger alert-dismissible fade show">
            Password has to be minimum 8 characters long !!!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/if}}
    
        {{#if invalidEmail}}
        <div id="alert" class="alert alert-danger alert-dismissible fade show">
            This Email is Already registered !!!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/if}}
    
        {{#if success}}
        <div id="alert" class="alert alert-success alert-dismissible fade show">
            <strong>Registered Successfully !!! </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/if}}
    </div>
    <div class="container">
        <div class="row" id="row">
            <div id="imageDiv">
                <img id="mainImg" src="../public/images/medico2.jpg" alt="">
            </div>
            <div id="signupDiv">
                <div id="head" class="row">
                    <div>
                        <img src="../public/images/sign-up.svg" width="60px" height="60px" alt="">
                    </div>
                    <div id="signupText">
                        <h1><strong>Signup</strong></h1>
                    </div>
                </div>
                <hr>
                <form action="/user/signup" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label><strong>Full Name </strong></label>
                        <input type="text" class="form-control"
                            style="border-bottom-right-radius: 20px; border-top-left-radius: 20px;" name="username"
                            placeholder="Enter Fullname" required>
                    </div>
                    <div class="form-group">
                        <label><strong> Email</strong></label>
                        <input type="email" class="form-control"
                            style="border-bottom-right-radius: 20px; border-top-left-radius: 20px;" name="email"
                            id="exampleInputPassword1" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label><strong> Mobile </strong></label>
                        <input type="number" class="form-control"
                            style="border-bottom-right-radius: 20px; border-top-left-radius: 20px;" name="mobile"
                            id="exampleInputPassword1" placeholder="Enter phone number" minlength="10" maxlength="10"
                            required>
                    </div>
                    <div class="form-group">
                        <label><strong>Password</strong></label>
                        <input type="password" class="form-control"
                            style="border-bottom-right-radius: 20px; border-top-left-radius: 20px;" name="password"
                            id="exampleInputPassword1" placeholder="Enter password" minlength="8" required>
                    </div>
                    <div class="form-group">
                        <label><strong>Confirm Password</strong></label>
                        <input type="password" class="form-control"
                            style="border-bottom-right-radius: 20px; border-top-left-radius: 20px;"
                            name="confirm_password" id="exampleInputPassword1" placeholder="Re-enter password"
                            minlength=8 required>
                    </div>
                    <button type="submit" class="btn btn-outline-info mb-3 ml-auto mr-auto"
                        style="border-bottom-right-radius: 20px; border-top-left-radius: 20px;"><strong>signup</strong></button>
                    <div><span class="mt-2">Already a user ? <a id="deletebutton" href="/user/signin"><strong>Click
                                    here</strong></a> to login.</span> </div>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <div style="height: 20px;"></div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 ml-5">
                <h4>Contact Us</h4>
                <p>BHIVE Workspace, L-148, 5th Main Rd,
                    <br> Sector 6, HSR Layout,<br> Bengaluru, Karnataka 560102</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 ml-5">
                <h5>For patients</h5>
                <ul>
                    <li><a href="#">Search for Doctors</a></li>
                    <li><a href="#">Search for Hospitals</a></li>
                    <li><a href="#">Order Medicine</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-12 ml-5 mt-2 ">
                <style>
                    .fa {
                        text-align: center;
                    }

                    .fa:hover {
                        opacity: 0.7;
                        text-decoration: none;
                    }
                    .size{
                        font-size: 30px;
                        margin: 0 8px;
                        
                    }
                </style>
                <div class="mt-4">
                    <a href="#" class="fa fa-facebook size"></a>
                    <a href="#" class="fa fa-twitter size"></a>
                    <a href="#" class="fa fa-linkedin size"></a>
                    <a href="#" class="fa fa-instagram size"></a>
                    <a href="#" class="fa fa-youtube size"></a>
                </div>
                
            </div>
        </div>
        <div style="height: 20px;"></div>
    </footer>
   
</body>
</html>